.square-container {
  max-width: calc(3 * 120px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.square {
  width: 100px;
  height: 100px;
  margin: 10px;
  transition: background-color 0.4s ease-in-out;
}
.selectedSquare {
  background-color: #0bcc59;
  border: none;
  cursor: not-allowed;
}
.boxVisible {
  border: 1px solid black;
  cursor: pointer;
}
.boxHidden {
  cursor: initial;
  opacity: 0;
  pointer-events: none;
}
