.squareBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  button {
    background-color: #0bcc59;
    padding: 7px 32px;
    border-radius: 6px;
    border: none;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}
.squareContainer {
  max-width: calc(var(--grid-num) * var(--box-size));
  display: grid;
  grid-template-columns: repeat(var(--grid-num), 1fr);
  align-items: center;
}
.square {
  width: var(--box-size);
  height: var(--box-size);
  margin: 10px;
  transition: background-color 0.4s ease-in-out;
}
.selectedSquare {
  background-color: #0bcc59;
  border: none !important;
  cursor: not-allowed;
}
.boxVisible {
  border: 1px solid black;
  cursor: pointer;
}
.boxHidden {
  cursor: initial;
  opacity: 0;
  pointer-events: none;
}
